In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import warnings
warnings.filterwarnings('ignore')

# Import API key
from api_keys import g_key

## Indices by country

In [2]:
# Load the indices_country csv from input data folder
countries_csv = "Data/Cost_of_living_indices_data.csv"

indices_countries = pd.read_csv(countries_csv)
indices_countries

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04
1,2,Albania,35.50,8.47,22.83,29.32,25.82,30.19
2,3,Algeria,26.87,4.59,16.43,28.82,14.48,24.63
3,4,Argentina,34.69,7.71,22.04,28.17,33.32,30.72
4,5,Armenia,33.89,11.61,23.45,27.59,30.55,28.86
...,...,...,...,...,...,...,...,...
134,135,Venezuela,43.20,9.99,27.63,37.34,46.23,15.41
135,136,Vietnam,37.48,13.22,26.11,38.70,19.98,29.38
136,137,Yemen,53.14,6.71,31.38,67.12,24.74,14.41
137,138,Zambia,33.04,9.26,21.90,31.53,22.46,40.33
138,139,Zimbabwe,45.68,8.75,28.37,39.88,38.13,19.07

In [3]:
# Remove the Rank column as it doesn't add any value here
indices_countries = indices_countries.drop(["Rank"],axis=1)
indices_countries

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04
1,Albania,35.50,8.47,22.83,29.32,25.82,30.19
2,Algeria,26.87,4.59,16.43,28.82,14.48,24.63
3,Argentina,34.69,7.71,22.04,28.17,33.32,30.72
4,Armenia,33.89,11.61,23.45,27.59,30.55,28.86
...,...,...,...,...,...,...,...
134,Venezuela,43.20,9.99,27.63,37.34,46.23,15.41
135,Vietnam,37.48,13.22,26.11,38.70,19.98,29.38
136,Yemen,53.14,6.71,31.38,67.12,24.74,14.41
137,Zambia,33.04,9.26,21.90,31.53,22.46,40.33
138,Zimbabwe,45.68,8.75,28.37,39.88,38.13,19.07

In [4]:
# Identify the Min and Max scores for each index
indices_countries.describe()

,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
count,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000
mean,50.188633,19.291511,35.705324,46.637842,43.444892,46.426259
std,20.860222,15.317726,17.542523,20.952229,24.885969,26.921840
min,19.920000,2.720000,12.090000,14.920000,12.410000,1.450000
25%,34.715000,9.515000,23.310000,31.200000,25.290000,27.040000
50%,44.680000,13.930000,31.260000,40.220000,34.560000,37.220000
75%,62.580000,25.070000,44.865000,56.590000,54.925000,66.105000
max,146.040000,98.580000,123.800000,148.660000,159.170000,118.440000

In [5]:
# Plot bar chart with the max and min values of all indices

In [6]:
# Get the Lat and Lng details for all countries for heatmap
indices_countries[["Lat","Lng"]] = ""

In [7]:
# find lat and lng values for each country
base_url = f"https://maps.googleapis.com/maps/api/geocode/json"

# set up the required parameters
params = {
    "key": g_key,
}

# set up lists to hold reponse info
lat = []
lng = []

# Loop through the list of cities and perform a request for data on each
for country in indices_countries["Country"]:
    #base_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={country}&key={g_key}"
    
    #   add location to params dict
    params["address"] = country
    
    geo_data = requests.get(base_url,params).json()
    
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])

indices_countries["Lat"] = lat
indices_countries["Lng"] = lng
indices_countries

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Lat,Lng
0,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04,33.939110,67.709953
1,Albania,35.50,8.47,22.83,29.32,25.82,30.19,41.153332,20.168331
2,Algeria,26.87,4.59,16.43,28.82,14.48,24.63,28.033886,1.659626
3,Argentina,34.69,7.71,22.04,28.17,33.32,30.72,-38.416097,-63.616672
4,Armenia,33.89,11.61,23.45,27.59,30.55,28.86,40.069099,45.038189
...,...,...,...,...,...,...,...,...,...
134,Venezuela,43.20,9.99,27.63,37.34,46.23,15.41,6.423750,-66.589730
135,Vietnam,37.48,13.22,26.11,38.70,19.98,29.38,14.058324,108.277199
136,Yemen,53.14,6.71,31.38,67.12,24.74,14.41,15.552727,48.516388
137,Zambia,33.04,9.26,21.90,31.53,22.46,40.33,-13.133897,27.849332
138,Zimbabwe,45.68,8.75,28.37,39.88,38.13,19.07,-19.015438,29.154857

In [8]:
# Save Data Frame as a csv file 
indices_countries.to_csv("Data/output_all_countries_lat_lng.csv", index=False)

## Top 10 performing countries by Cost of Living Index

In [9]:
# Create the list of top 10 performing countries by Cost of Living Index
Df_1 = indices_countries.sort_values(["Cost of Living Index"]).reset_index(drop=True)

# Top 10 Countries DataFrame Output
top_10_countries = Df_1.head(10)

# Output
top_10_countries

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Lat,Lng
0,Pakistan,19.92,3.91,12.42,17.81,15.54,26.63,30.375321,69.345116
1,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04,33.939110,67.709953
2,India,24.43,5.30,15.47,26.43,17.56,49.72,20.593684,78.962880
3,Colombia,26.72,8.18,18.03,23.47,19.44,28.85,4.570868,-74.297333
4,Algeria,26.87,4.59,16.43,28.82,14.48,24.63,28.033886,1.659626
5,Kosovo (Disputed Territory),27.05,8.04,18.14,24.84,19.53,43.86,42.602636,20.902977
6,Uzbekistan,27.31,9.29,18.86,26.83,24.22,22.37,41.377491,64.585262
7,Tunisia,27.87,5.32,17.30,27.36,15.96,27.83,33.886917,9.537499
8,Nepal,28.29,3.96,16.89,26.45,20.41,22.96,28.394857,84.124008
9,Turkey,28.31,6.63,18.15,22.64,18.40,32.88,38.963745,35.243322

## Bottom 10 performing countries by Cost of Living Index

In [10]:
# Create the list of top 10 performing countries by Cost of Living Index
Bottom_10_Countries_df = Df_1.tail(10).sort_values(["Cost of Living Index"],ascending=False).reset_index(drop=True)

Bottom_10_Countries_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Lat,Lng
0,Bermuda,146.04,98.58,123.80,148.66,159.17,81.07,32.307800,-64.750500
1,Switzerland,123.35,53.54,90.62,128.13,122.09,118.44,46.818188,8.227512
2,Norway,100.90,34.68,69.86,97.31,105.49,83.11,60.472024,8.468946
3,Iceland,94.86,41.93,70.05,90.22,99.42,77.06,64.963051,-19.020835
4,Barbados,92.37,21.99,59.38,87.81,78.18,32.08,13.193887,-59.543198
5,Jersey,92.02,65.33,79.51,76.88,94.65,79.14,49.213771,-2.135766
6,Israel,88.05,33.94,62.69,76.72,95.31,75.58,31.046051,34.851612
7,Denmark,84.12,33.23,60.26,68.60,98.75,99.45,56.263920,9.501785
8,Bahamas,84.00,35.34,61.19,70.59,89.09,45.07,25.034280,-77.396280
9,Singapore,83.98,66.43,75.75,77.08,61.17,91.34,1.352083,103.819836

## G8 Countries

In [11]:
# Create a list of G8 countries
G8_countries = ["Japan", "United States", "United Kingdom", "Canada", "Germany", "Italy", "France", "Russia"]

In [12]:
# create a dataframe containing the data for the G8 countries
df_g8 = indices_countries[indices_countries["Country"].isin(G8_countries)].reset_index(drop=True)
df_g8

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Lat,Lng
0,Canada,70.22,34.33,53.40,70.01,67.86,87.98,56.130366,-106.346771
1,France,74.13,25.33,51.26,73.64,71.84,85.41,46.227638,2.213749
2,Germany,65.58,27.62,47.78,52.31,60.91,103.08,51.165691,10.451526
3,Italy,66.47,20.55,44.95,57.95,70.58,61.74,41.871940,12.567380
4,Japan,77.03,25.86,53.04,81.31,45.40,87.11,36.204824,138.252924
5,Russia,35.26,13.09,24.87,29.86,34.56,37.41,61.524010,105.318756
6,United Kingdom,69.65,31.84,51.93,56.58,76.79,88.78,55.378051,-3.435973
7,United States,70.13,42.07,56.98,70.37,70.07,106.34,37.090240,-95.712891

In [13]:
# Save Data Frame as a csv file 
df_g8.to_csv("Data/output_g8_countries_cost_of_living.csv", index=False)

## Indices by city

In [14]:
# Load the indices_country csv from input data folder
cities_csv = "Data/indices_cities.csv"

indices_cities = pd.read_csv(cities_csv)
indices_cities

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"Hamilton, Bermuda",149.02,96.10,124.22,157.89,155.22,79.43
1,2,"Zurich, Switzerland",131.24,69.26,102.19,136.14,132.52,129.79
2,3,"Basel, Switzerland",130.93,49.38,92.70,137.07,130.95,111.53
3,4,"Zug, Switzerland",128.13,72.12,101.87,132.61,130.93,143.40
4,5,"Lugano, Switzerland",123.99,44.99,86.96,129.17,119.80,111.96
...,...,...,...,...,...,...,...,...
573,574,"Kanpur, India",20.79,3.60,12.73,22.19,13.31,38.83
574,575,"Karachi, Pakistan",20.75,4.84,13.29,18.48,15.21,29.16
575,576,"Rawalpindi, Pakistan",20.52,4.78,13.14,18.51,16.18,22.91
576,577,"Multan, Pakistan",18.68,2.94,11.30,18.37,11.80,25.09
577,578,"Peshawar, Pakistan",18.55,2.37,10.97,16.62,14.39,26.00

In [15]:
# Remove the Rank column
indices_cities = indices_cities.drop(["Rank"],axis=1)
indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,"Hamilton, Bermuda",149.02,96.10,124.22,157.89,155.22,79.43
1,"Zurich, Switzerland",131.24,69.26,102.19,136.14,132.52,129.79
2,"Basel, Switzerland",130.93,49.38,92.70,137.07,130.95,111.53
3,"Zug, Switzerland",128.13,72.12,101.87,132.61,130.93,143.40
4,"Lugano, Switzerland",123.99,44.99,86.96,129.17,119.80,111.96
...,...,...,...,...,...,...,...
573,"Kanpur, India",20.79,3.60,12.73,22.19,13.31,38.83
574,"Karachi, Pakistan",20.75,4.84,13.29,18.48,15.21,29.16
575,"Rawalpindi, Pakistan",20.52,4.78,13.14,18.51,16.18,22.91
576,"Multan, Pakistan",18.68,2.94,11.30,18.37,11.80,25.09
577,"Peshawar, Pakistan",18.55,2.37,10.97,16.62,14.39,26.00

In [16]:
# Split the City column and create a new column for Country

indices_cities[["City","Country","City_split"]] = indices_cities.City.str.split(", ",expand=True)
indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Country,City_split
0,Hamilton,149.02,96.10,124.22,157.89,155.22,79.43,Bermuda,None
1,Zurich,131.24,69.26,102.19,136.14,132.52,129.79,Switzerland,None
2,Basel,130.93,49.38,92.70,137.07,130.95,111.53,Switzerland,None
3,Zug,128.13,72.12,101.87,132.61,130.93,143.40,Switzerland,None
4,Lugano,123.99,44.99,86.96,129.17,119.80,111.96,Switzerland,None
...,...,...,...,...,...,...,...,...,...
573,Kanpur,20.79,3.60,12.73,22.19,13.31,38.83,India,None
574,Karachi,20.75,4.84,13.29,18.48,15.21,29.16,Pakistan,None
575,Rawalpindi,20.52,4.78,13.14,18.51,16.18,22.91,Pakistan,None
576,Multan,18.68,2.94,11.30,18.37,11.80,25.09,Pakistan,None
577,Peshawar,18.55,2.37,10.97,16.62,14.39,26.00,Pakistan,None

In [17]:
# Check if the third variable city_split has any valid country name

cities_groupby_country =indices_cities.groupby(["Country","City_split"], sort=False).size().reset_index(name="Count")
cities_groupby_country

                      Country     City_split  Count
0                          HI  United States      1
1                          NY  United States      6
2                          CA  United States     12
3                          AK  United States      1
4                          WA  United States      5
5                          MA  United States      1
6                          DC  United States      1
7                          PA  United States      2
8                          NJ  United States      1
9                          BC         Canada      1
10                         MN  United States      2
11                         AL  United States      1
12                         FL  United States      5
13  Newfoundland and Labrador         Canada      1
14                         SC  United States      1
15                         NC  United States      5
16                         IL  United States      1
17                         OR  United States      3
18                         GA  United States      1
19                         TX  United States      7
20                         OH  United States      6
21                         NE  United States      1
22                         CO  United States      3
23                         TN  United States      3
24                         MD  United States      1
25                         LA  United States      1
26                         IA  United States      2
27                         WI  United States      2
28                         MI  United States      2
29                         NV  United States      2
30                         AZ  United States      3
31                         ID  United States      1
32                         VA  United States      1
33                         KY  United States      2
34                         IN  United States      1
35                         MO  United States      2
36                         UT  United States      1
37                         OK  United States      2
38                         NM  United States      1
39                         AR  United States      1
40                         KS  United States      1
41                   Shandong          China      1
42                   Selangor       Malaysia      1

In [18]:
# Wherever the city_split value is not none, replace the Country value with City_split

indices_cities["Country"] = np.where(indices_cities["City_split"].isnull(), indices_cities["Country"], indices_cities["City_split"])
indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Country,City_split
0,Hamilton,149.02,96.10,124.22,157.89,155.22,79.43,Bermuda,None
1,Zurich,131.24,69.26,102.19,136.14,132.52,129.79,Switzerland,None
2,Basel,130.93,49.38,92.70,137.07,130.95,111.53,Switzerland,None
3,Zug,128.13,72.12,101.87,132.61,130.93,143.40,Switzerland,None
4,Lugano,123.99,44.99,86.96,129.17,119.80,111.96,Switzerland,None
...,...,...,...,...,...,...,...,...,...
573,Kanpur,20.79,3.60,12.73,22.19,13.31,38.83,India,None
574,Karachi,20.75,4.84,13.29,18.48,15.21,29.16,Pakistan,None
575,Rawalpindi,20.52,4.78,13.14,18.51,16.18,22.91,Pakistan,None
576,Multan,18.68,2.94,11.30,18.37,11.80,25.09,Pakistan,None
577,Peshawar,18.55,2.37,10.97,16.62,14.39,26.00,Pakistan,None

In [19]:
# check if all the valid country values are moved from city_split to country 
cities_groupby_country =indices_cities.groupby(["Country","City_split"], sort=False).size().reset_index(name="Count")
cities_groupby_country

         Country     City_split  Count
0  United States  United States     95
1         Canada         Canada      2
2          China          China      1
3       Malaysia       Malaysia      1

In [20]:
# Remove the City_split column
indices_cities = indices_cities.drop(["City_split"],axis=1)
indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Country
0,Hamilton,149.02,96.10,124.22,157.89,155.22,79.43,Bermuda
1,Zurich,131.24,69.26,102.19,136.14,132.52,129.79,Switzerland
2,Basel,130.93,49.38,92.70,137.07,130.95,111.53,Switzerland
3,Zug,128.13,72.12,101.87,132.61,130.93,143.40,Switzerland
4,Lugano,123.99,44.99,86.96,129.17,119.80,111.96,Switzerland
...,...,...,...,...,...,...,...,...
573,Kanpur,20.79,3.60,12.73,22.19,13.31,38.83,India
574,Karachi,20.75,4.84,13.29,18.48,15.21,29.16,Pakistan
575,Rawalpindi,20.52,4.78,13.14,18.51,16.18,22.91,Pakistan
576,Multan,18.68,2.94,11.30,18.37,11.80,25.09,Pakistan
577,Peshawar,18.55,2.37,10.97,16.62,14.39,26.00,Pakistan

In [21]:
# Create a dataframe to hold all values for G8 cities
g8_indices_cities = indices_cities[indices_cities["Country"].isin(G8_countries)]
g8_indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Country
10,Honolulu,103.65,65.07,85.56,114.92,94.28,89.24,United States
13,New York,100.00,100.00,100.00,100.00,100.00,100.00,United States
18,Santa Barbara,95.01,78.42,87.23,99.53,99.41,93.86,United States
20,Berkeley,94.36,88.22,91.48,106.23,78.85,85.78,United States
21,San Francisco,93.91,108.42,100.72,97.05,93.40,133.16,United States
...,...,...,...,...,...,...,...,...
483,Nizhny Novgorod,33.89,9.92,22.65,27.35,35.03,34.95,Russia
487,Yekaterinburg,33.23,10.91,22.77,29.47,27.76,57.77,Russia
489,Krasnodar,32.65,9.79,21.94,28.05,33.82,36.59,Russia
495,Novosibirsk,32.26,9.98,21.81,28.73,31.27,38.35,Russia
496,Rostov-na-donu,32.10,8.69,21.13,26.56,30.09,36.94,Russia

In [22]:
# Get the Lat and Lng details for all cities for plotting on map
g8_indices_cities[["Lat","Lng"]] = ""

In [23]:
# find lat and lng values for each country
base_url = f"https://maps.googleapis.com/maps/api/geocode/json"

# set up the required parameters
params = {
    "key": g_key,
}

# set up lists to hold reponse info
lat = []
lng = []

# Loop through the list of cities and perform a request for Latitude and Longitude values
for index, row in g8_indices_cities.iterrows():
    
#   get lat and lng from hotel_df
    city = row["City"]
    country = row["Country"]
    
    #   add location to params dict
    params["address"] = f"{city},{country}"
    
    geo_data = requests.get(base_url,params).json()
    
    try:
        lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
    except (KeyError, IndexError):
        print(f"No data for {city},{country}")
        lat.append("")
        lng.append("")

g8_indices_cities["Lat"] = lat
g8_indices_cities["Lng"] = lng
g8_indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Country,Lat,Lng
10,Honolulu,103.65,65.07,85.56,114.92,94.28,89.24,United States,21.309884,-157.858140
13,New York,100.00,100.00,100.00,100.00,100.00,100.00,United States,40.712775,-74.005973
18,Santa Barbara,95.01,78.42,87.23,99.53,99.41,93.86,United States,34.420831,-119.698190
20,Berkeley,94.36,88.22,91.48,106.23,78.85,85.78,United States,37.871523,-122.273042
21,San Francisco,93.91,108.42,100.72,97.05,93.40,133.16,United States,37.774929,-122.419415
...,...,...,...,...,...,...,...,...,...,...
483,Nizhny Novgorod,33.89,9.92,22.65,27.35,35.03,34.95,Russia,56.326868,44.005879
487,Yekaterinburg,33.23,10.91,22.77,29.47,27.76,57.77,Russia,56.843099,60.645409
489,Krasnodar,32.65,9.79,21.94,28.05,33.82,36.59,Russia,45.036035,38.974571
495,Novosibirsk,32.26,9.98,21.81,28.73,31.27,38.35,Russia,54.983269,82.896383
496,Rostov-na-donu,32.10,8.69,21.13,26.56,30.09,36.94,Russia,47.235714,39.701505

In [24]:
g8_indices_cities[g8_indices_cities["Lat"] == ""]

Empty DataFrame
Columns: [City, Cost of Living Index, Rent Index, Cost of Living Plus Rent Index, Groceries Index, Restaurant Price Index, Local Purchasing Power Index, Country, Lat, Lng]
Index: []

In [25]:
# Save Data Frame as a csv file 
g8_indices_cities.to_csv("Data/output_g8_cities_cost_of_living.csv", index=False)

In [26]:
# Create a dataframe to hold the values for UK cities
uk_indices_cities = pd.DataFrame(g8_indices_cities.loc[g8_indices_cities["Country"]=="United Kingdom"])
uk_indices_cities

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Country,Lat,Lng
33,London,85.62,76.51,81.35,64.08,89.41,88.79,United Kingdom,51.507218,-0.127586
55,Brighton,79.57,51.44,66.39,63.41,86.88,74.78,United Kingdom,50.822940,-0.136267
97,Guildford,76.02,49.12,63.41,66.52,74.95,78.75,United Kingdom,51.236220,-0.570409
102,Oxford,75.68,49.17,63.25,65.90,75.45,104.03,United Kingdom,51.752021,-1.257726
104,Lincoln,75.60,22.24,50.59,60.86,90.13,88.99,United Kingdom,53.229456,-0.542683
105,York,75.52,34.08,56.10,62.37,80.71,73.46,United Kingdom,53.961421,-1.073911
110,Reading,75.27,41.70,59.53,63.44,85.76,100.89,United Kingdom,51.455120,-0.978747
139,Edinburgh,73.15,37.38,56.38,59.68,84.71,88.03,United Kingdom,55.953252,-3.188267
141,Milton Keynes,73.14,37.65,56.50,60.60,73.63,73.92,United Kingdom,52.040622,-0.759417
142,Manchester,73.14,34.94,55.23,60.14,87.50,91.33,United Kingdom,53.480759,-2.242631
144,Cambridge,73.05,46.16,60.44,60.40,83.11,92.85,United Kingdom,52.195079,0.131273
153,Derby,72.57,21.68,48.71,58.01,80.36,119.81,United Kingdom,52.922530,-1.474619
168,Liverpool,71.39,26.18,50.19,56.40,86.70,90.09,United Kingdom,53.408371,-2.991573
169,Nottingham,71.34,26.73,50.43,65.70,70.68,91.62,United Kingdom,52.954022,-1.154989
171,Bristol,71.32,40.45,56.85,56.75,83.16,84.81,United Kingdom,51.454513,-2.587910
173,Portsmouth,71.16,30.52,52.11,62.31,78.14,85.02,United Kingdom,50.819767,-1.087977
179,Plymouth,70.70,24.61,49.10,58.00,73.68,84.01,United Kingdom,50.375456,-4.142657
194,Norwich,70.06,26.85,49.81,62.40,73.92,79.66,United Kingdom,52.629257,1.297880
196,Exeter,69.90,31.96,52.11,54.86,74.18,93.92,United Kingdom,50.726037,-3.527489
214,Cardiff,68.91,29.64,50.51,56.87,76.53,106.17,United Kingdom,51.483707,-3.168096
216,Glasgow,68.76,28.82,50.04,55.63,77.95,96.42,United Kingdom,55.864237,-4.251806
236,Southampton,67.59,32.40,51.09,55.69,69.59,98.44,United Kingdom,50.910547,-1.404902
237,Leeds,67.57,30.47,50.18,56.17,75.71,88.49,United Kingdom,53.800755,-1.549077
240,Birmingham,67.25,33.10,51.24,55.36,68.91,81.78,United Kingdom,52.486243,-1.890401
245,Coventry,66.94,28.91,49.11,58.06,63.75,108.70,United Kingdom,52.412816,-1.508952
246,Newcastle upon Tyne,66.86,25.72,47.57,56.08,71.13,97.66,United Kingdom,54.978252,-1.617780
249,Stoke-on-Trent,66.58,17.51,43.58,52.76,73.80,97.94,United Kingdom,53.003337,-2.182741
251,Dundee,66.46,23.27,46.22,56.19,73.50,82.43,United Kingdom,56.462018,-2.970721
256,Sheffield,65.88,26.92,47.62,57.43,63.83,89.07,United Kingdom,53.381129,-1.470085
258,Belfast,65.74,26.12,47.17,57.73,74.02,91.62,United Kingdom,54.597285,-5.930120
269,Leicester,64.91,24.93,46.17,52.47,72.19,92.59,United Kingdom,52.636878,-1.139759
278,Bournemouth,63.73,32.77,49.21,48.72,68.90,76.52,United Kingdom,50.722010,-1.866717
282,Aberdeen,63.40,23.06,44.49,47.87,77.47,102.02,United Kingdom,57.149889,-2.093753
294,Kingston upon Hull,62.07,21.79,43.19,52.73,63.89,86.57,United Kingdom,53.767624,-0.327420

In [27]:
# Save Data Frame as a csv file 
uk_indices_cities.to_csv("Data/output_uk_cities_cost_of_living.csv", index=False)